
*{
    margin: 0;
    padding: 0;
}




header {

    display: flex;
    background-color: rgb(253, 227, 227);
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px; 
    border: black;
    
}

#divPesquisar{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:30px;
  }
  
  #txtPesquisa{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnPesquisa{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:104px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }
  
  img{ 
      width:25px; 
    margin-right:5px;
 }







body{
    width: 100vw;
    min-height: 100vh;
}

header{
}

#menu-principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}


#container-main{
    /* display: grid;
    align-items: center; */
}

#primeiro-titulo{
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#secao-tipos-comida{
    display: flex;
    justify-content: center;
    background-color: rgba(167, 113, 113, 0.329);
    padding-top: 40px;
    gap: 15px;
}

.imagem-tipos{
    width: 20vw;
    height: 15vw;
}

.div-img-descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#segundo-titulo{
    display: flex;
    justify-content: center;
    background-color: aqua;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#secao-anuncios{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: cadetblue;
}

