.header-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  grid-template-rows: 39vh;
}

header {
  background-color: beige;
}

.header-logo{
  place-self: center;
}

.header-logo > img {
  width: 15vw;
  height: 41vh;
}

.header-pesquisar {
  place-self: center;
}

.header-imgconta {
  place-self: center;
}

.header-imgconta > img {
  width: 6vw;
  height: 12vh;
}

.header-imgcarrinho {
  place-self: center;
}

.header-imgcarrinho > img {
  width: 6vw;
  height: 12vh;
}

.footer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

footer {
  background-color: beige;
}

.footer-grid {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 39vh;
}

.footer-logo {
  place-self: center;
}

.footer-logo > img {
  width: 15vw;
  height: 41vh;
}

.footer-address {
  place-self: center;
}

.footer-redessociais {
  place-self: center;
}